@import url("./normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Playfair+Display:wght@700&display=swap");
html {
  background-color: #f9f9f9;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #282828;
  width: 1920px;
  margin: 0 auto;
  color: #fff;
  background-image: url("./../images/bgc.png");
  background-repeat: no-repeat;
  background-position: top;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.content {
  width: 1110px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
}

.header__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  font-style: normal;
}

.nav__menu {
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  padding: 0;
  width: 285px;
  text-align: center;
  border: 1px solid #fff;
  border-right: none;
  padding: 11px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item:first-child {
  border-left: none;
}

.navigation {
  margin: 583px auto 159px;
}

.navigation__btn {
  padding: 15px 30px;
  background: #99862a;
  border: none;
  margin: 0 15px;
  text-transform: uppercase;
  color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  outline: none;
}

.info {
  border: 1px solid white;
  margin: 100px auto;
  padding: 60px 190px;
  text-align: center;
}

.info__title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  margin: 0;
  position: relative;
}

.info__text {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
}

.info__image {
  background-image: url("./../images/image-2.png");
  height: 160px;
  width: 160px;
  background-size: cover;
  margin: 50px auto 0;
}

.info > hr {
  border: 1px solid #ffffff;
  width: 160px;
  margin: 40px auto;
}

.collection {
  background: #e6e3c4;
  color: #000;
  padding: 80px 0;
}

.collection__container {
  border-top: 1px solid #998431;
  border-bottom: 1px solid #998431;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0;
}

.collection__column {
  width: 50%;
}

.collection__column:first-child {
  padding-right: 110px;
}

.collection__column:last-child {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 500px 228px;
      grid-template-rows: 500px 228px;
  gap: 30px 30px;
      grid-template-areas: "main main" "first two";
}

.collection__column > hr {
  border-top: 1px solid #282828;
  width: 160px;
  margin: 0;
}

.collection__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
}

.collection__item {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  color: #282828;
}

.collection__info {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #282828;
  margin: 30px 0;
}

.collection__button {
  background: #998431;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 30px;
  border: none;
}

.collection__main-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
}

.collection__additional-image_first {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: first;
}

.collection__additional-image_two {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: two;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  border: 3px solid #e6e3c4;
  font-size: 14px;
  color: #282828;
}

table > tbody > tr > td {
  border: 1px solid #282828;
  padding: 10px 24px 15px 30px;
}

table > tbody > tr > td > h4 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  margin: 0 0 5px;
}

table > tbody > tr > td > p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  margin: 0;
}

.footer {
  background-color: #998431;
  padding: 50px 0;
}

.footer__nav:first-child {
  border-top: 1px solid #fff;
}

.menu__item_footer {
  border: none;
}

.item_uppercase {
  text-transform: uppercase;
}

.social-icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 57px;
}

.social-icon {
  border: none;
  padding: 0;
  width: auto;
}
/*# sourceMappingURL=style.css.map */